# port for the server to listen on
PORT=3000

# Node environment: development or production
NODE_ENV=development

# Database connection URL
# Format: postgresql://<user>:<password>@<host>:<port>/<database>?schema=public
DATABASE_URL="postgresql://admin:admin@localhost:5432/postgres?schema=barber"

# Log level for the application
# Allowed values: error | warn | info | verbose | debug
# Recommended: info in production, debug in development.
LOG_LEVEL=info 