# port for the server to listen on
PORT=3000

# Node environment: development or production
NODE_ENV=development

# log level for the application
# Allowed values: error | warn | info | verbose | debug
# Recommended: info in production, debug in development.
LOG_LEVEL=info 